.navbar {
  background: rgb(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.logo {
}

@media (max-width: 992px) {
  .navbar-nav {
    text-align: center; /* Assicura che i link siano allineati a destra in modalità mobile */
  }
}
/* Logo */
.navbar-brand {
  text-decoration: none;
  font-weight: 500;
  color: #009970;
  font-size: 24px;
  transition: 0.3s color;
}

/* btn login */
.login-button {
  background-color: #009970;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: #00b383;
}
@media (max-width: 992px) {
  .login-button {
    width: 100px;
    padding: 8px 20px;
  }
}

.user-login {
  color: #666777;
  font-weight: 500;
}
.user-login:hover,
.user-login:active {
  color: #000;
}
/* Hamburger menu */
.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
/* Link navbar */
.link-nav {
  color: #666777d8;
  font-weight: 600;
  position: relative;
}

.link-nav:hover,
.link-nav:active {
  color: #000;
}

@media (min-width: 991px) {
  .link-nav::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.2s ease-in-out;
  }
}

.link-nav:hover::before,
.link-nav:active::before {
  width: 100%;
  visibility: visible;
}
/* } */
